<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.CustomerFollowUpMapper">
  <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.CustomerFollowUp">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="follow_up_time" jdbcType="TIMESTAMP" property="followUpTime" />
    <result column="follow_up_type" jdbcType="VARCHAR" property="followUpType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="next_follow_up_time" jdbcType="TIMESTAMP" property="nextFollowUpTime" />
    <result column="follow_up_status" jdbcType="VARCHAR" property="followUpStatus" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="handler_name" jdbcType="VARCHAR" property="handlerName" />
    <result column="is_handler_record" jdbcType="VARCHAR" property="isHandlerRecord" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_id, follow_up_time, follow_up_type, content, next_follow_up_time, 
    follow_up_status, operator, remark, tenant_id, delete_flag, create_time, update_time,
    handler_id, handler_name, is_handler_record
  </sql>
  <select id="selectByExample" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jsh_customer_follow_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jsh_customer_follow_up
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jsh_customer_follow_up
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUpExample">
    delete from jsh_customer_follow_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUp">
    insert into jsh_customer_follow_up (id, customer_id, follow_up_time, 
      follow_up_type, content, next_follow_up_time, 
      follow_up_status, operator, remark, 
      tenant_id, delete_flag, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{followUpTime,jdbcType=TIMESTAMP}, 
      #{followUpType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{nextFollowUpTime,jdbcType=TIMESTAMP}, 
      #{followUpStatus,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=BIGINT}, #{deleteFlag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUp">
    insert into jsh_customer_follow_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="followUpTime != null">
        follow_up_time,
      </if>
      <if test="followUpType != null">
        follow_up_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="nextFollowUpTime != null">
        next_follow_up_time,
      </if>
      <if test="followUpStatus != null">
        follow_up_status,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="followUpTime != null">
        #{followUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpType != null">
        #{followUpType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="nextFollowUpTime != null">
        #{nextFollowUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpStatus != null">
        #{followUpStatus,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUpExample" resultType="java.lang.Long">
    select count(*) from jsh_customer_follow_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update jsh_customer_follow_up
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.followUpTime != null">
        follow_up_time = #{record.followUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followUpType != null">
        follow_up_type = #{record.followUpType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.nextFollowUpTime != null">
        next_follow_up_time = #{record.nextFollowUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followUpStatus != null">
        follow_up_status = #{record.followUpStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update jsh_customer_follow_up
    set id = #{record.id,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      follow_up_time = #{record.followUpTime,jdbcType=TIMESTAMP},
      follow_up_type = #{record.followUpType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      next_follow_up_time = #{record.nextFollowUpTime,jdbcType=TIMESTAMP},
      follow_up_status = #{record.followUpStatus,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=BIGINT},
      delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUp">
    update jsh_customer_follow_up
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="followUpTime != null">
        follow_up_time = #{followUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpType != null">
        follow_up_type = #{followUpType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="nextFollowUpTime != null">
        next_follow_up_time = #{nextFollowUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpStatus != null">
        follow_up_status = #{followUpStatus,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsh.erp.datasource.entities.CustomerFollowUp">
    update jsh_customer_follow_up
    set customer_id = #{customerId,jdbcType=BIGINT},
      follow_up_time = #{followUpTime,jdbcType=TIMESTAMP},
      follow_up_type = #{followUpType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      next_follow_up_time = #{nextFollowUpTime,jdbcType=TIMESTAMP},
      follow_up_status = #{followUpStatus,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
